<h2>Mixtapes</h2>

<p><%= link_to "Create Mixtape", new_mixtape_path %></p>

<% @mixtapes.each do |mixtape| %>
<div id="mixtape">
  <h3><%= mixtape.name %></h3>
  <p><%= mixtape.description %></p>
</div>


<% end %>
