<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<input type="text" id="add-todo">


<!-- <form id="add-todo">
  <p>
    <label for="todo-text">Text</label>
    <input type="text" id="todo-text">
  </p>
  <p>
    <label for="todo-notes">Notes</label>
    <textarea id="todo-notes"></textarea>
  </p>
  <p>
    <input checked type="checkbox" id="todo-completed">
    <label for="todo-completed">Done?</label>
  </p>
  <p>
    <input type="submit" value="Add Todo">
  </p>
</form>
 -->

</body>
</html>
